{% extends 'base.html' %}
{% block title %}Task_view{% endblock %}
{% block menu %}
{#    {% if request.user.is_authenticated %}#}
        <li><a href="{% url 'webapp:photo_update' photo.pk %}">Edit</a></li>
        <li><a href="{% url 'webapp:photo_delete' photo.pk %}">Delete</a></li>
{#    {% endif %}#}
{#    {% if request.user.is_authenticated and request.user.team_user.project == task.project.pk%}#}
{#        <li><a href="{% url 'webapp:task_update' task.pk %}">Edit</a></li>#}
{#        <li><a href="{% url 'webapp:task_delete' task.pk %}">Delete</a></li>#}
{#    {% endif %}#}
{% endblock %}
{% block content %}
   <div class="container">
       <img class="photo" src="{{ photo.image.url }}" width="500" height="500" alt="user picture">
        <div>Description: {{ photo.description }}</div>
        <div>Created at: {{ photo.creation_date }}</div>
        <div>Likes: {{ photo.likes }}</div>
        <div>Author: {{ photo.author_name }}</div>
       <button id="Like">Like</button>
        <hr/>
        <hr/>

   </div>
    <div class="comment-list">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.author }} commented at {{ comment.created_at|date:'d.m.Y H:i:s' }}</p>
                <div class="pre">{{ comment.text }}</div>
            <button id="{{ comment.id }}" onclick="deleteTasksLoadIndex(this.id)" >Delete</button>
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
{#        <form action="{% url 'webapp:comment_create' photo.pk %}" method="POST" id="add_comment">#}
{#            {% include 'partial/task_form.html' %}#}
{#            <input type="submit" value="Создать" class="btn btn-primary">#}
{#        </form>#}
    </div>
{% endblock %}